aws_account_id               = "000000000000"
hosted_zone_id               = ""
subdomain_zone_name          = "staging.example.com"
domain_name                  = "api.staging.example.com"
asset_domain_name            = "assets.staging.example.com"
cloudfront_certificate_arn   = ""
cloudfront_public_key        = ""
lambda_image_uri             = ""
ci_deploy_policy_arn         = ""
